.tilebox
  .tiles
    %p#notice= notice
    %p
      %span.tname 
        Name:
      = @team.name
    %p
      %span.tname
        Manager:
      = @team.manager
.newback
  = link_to 'Edit', edit_team_path(@team)
  = link_to 'Back', teams_path
