.tilebox
  .tiles
    %p#notice= notice
    %p
      %strong Name:
      = @team.name
    %p
      %strong Manager:
      = @team.manager
.buttonbox
  .buttons
    = link_to 'Edit', edit_team_path(@team)
  .buttons
    = link_to 'Back', teams_path
