%p#notice= notice
%h1 Players
%p Name, Goals, Assists
%p
  - @players.each do |player, drafted|
    %p
      = player.name
      = player.goals
      = player.assists
      - player.rosters.each do |roster|
        %b
          = roster.team_id
      = link_to 'Show', player
      = link_to 'Edit', edit_player_path(player)
      = link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }
  - @drafted.each do |drafted|
    %p
      = drafted.team_id
%p Roster Id, Team ID, Player ID
%p
  -@rosters.each do |roster|
    %p
      =roster.id
      =roster.team_id
      =roster.player_id
