%p#notice= notice
%h1 Players
%p Name, Goals, Assists, Drafter
%p
  - @players.each do |player|
    %p
      = player.name
      = player.goals
      = player.assists
      = player.rosters.each do |roster|
        = roster.team_id
      =form_for @pick, url: {action: "pick"}, :method => :POST do
        =button_tag 'Draft', type: :submit
        =hidden_field_tag(:player_store, player.id)
      = link_to 'Show', player
      = link_to 'Edit', edit_player_path(player)
      = link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }
