%p#notice= notice
%p
  %strong Name:
  = @player.name
%p
  %strong Goals:
  = @player.goals
%p
  %strong Assists:
  = @player.assists
= link_to 'Edit', edit_player_path(@player)
|
= link_to 'Back', players_path
