!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 
      Draft App
      = @page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:class => controller.controller_name}
    .banner
      =image_tag 'logo.svg', alt: 'Hockey Fantasy Draft'
      %span.title= @page_title
      %b= current_team.name
    #columns
      %nav
        %ul.topnav
          %li
            = link_to 'Create New Team', '/' 
          %li 
            = link_to 'All Teams', '/rosters'
          %li 
            = link_to 'Your Team', '/rosters/:id'
          %li
            = link_to 'Draft Now', '/players'
          %li 
            = link_to 'Edit Team Info', '/teams/:id/edit'
          %li
            = link_to 'Advanced Player Info', 'players/:id' 
          - if current_user
            %li
              Welcome,
              = current_user.name.titleize
              = link_to 'Logout', '/logout', method: :delete
            %li
              = link_to 'Change Team', teams_path
          - else
            %li= link_to 'Login with Twitter', '/auth/twitter'
            %li= link_to 'Login with Google', '/auth/google'
    = yield
