!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title 
      Draft App
      = @page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:class => controller.controller_name}
    #columns 
      = session[:teamname]
      %nav
        %ul#myTopnav.topnav
          %li
            = nav_link 'Create New Team', root_path 
          %li
            = nav_link 'Draft Now', players_path
          - if current_user    
            - if current_team
              - if session[:teamname]
                %li  
                  = nav_link 'Edit Team Info', edit_team_path(id: session[:team])
              %li
                = nav_link 'Change Team', teams_path          
            %li.usr
              Welcome,
              = current_user.name.titleize
            %li  
              = link_to 'Logout', logout_path, method: :delete
          - else
            %li= link_to 'Login with Twitter', '/auth/twitter'
            %li= link_to 'Login with Google', '/auth/google'
          %li.icon
            %a{:href => "javascript:void(0);", :onclick => "myFunction()"} &#9776

    = yield
